<section class="callback @@add">
    <h2 class="callback__title subtitle">@@title</h2>
    <form action="application.php" class="callback__form form-callback" method="post">
        <input type="hidden" name="formPage" value="@@page">
        <input type="hidden" name="formData" value="Блок обратного звонка">
        <input type="tel" class="form-callback__input main-form__input" placeholder="+7 (___) ___-__-__" required>
        <button type="submit" class="btn form-callback__submit">
            Вызвать оценщика
        </button>
    </form>
</section>
