<section class="check-photo">
    <h2 class="subtitle check-photo__title">
        Молниеносная онлайн оценка по фото!
    </h2>
    <div class="check-photo__content">
        <div class="check-photo__text">
            <p class="check-photo__descr">Напишите нам в WhatsApp, Viber <br>
                или Telegram и мы мгновенно <br>
                оценим Вашу технику!</p>
            <div class="check-photo__btns">
                <a href="https://wa.me/+79029244666" class="check-photo__btn btn">Написать в Whatsapp</a>
                <a href="viber://chat?number=%2B79029244666" class="check-photo__btn btn">Написать в Viber</a>
                <a href="https://telegram.me/finstreet" class="check-photo__btn btn">Написать в Telegram</a>
            </div>
        </div>
        <img src="images/check.png" alt="" class="check-photo__pic">
    </div>
</section>