<section id="faq" class="faq">
    <h2 class="subtitle faq__title">Вопросы и ответы</h2>
    <div class="faq__list">
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Как быстро я получу деньги?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Мы всегда производим полный расчет в момент подписания договора купли-продажи! В среднем процесс согласования цены и оформления сделки занимает от 30 минут до 2-х часов.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Как вы выкупаете машины после ДТП?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Осмотрим Ваш автомобиль. Сделаем оценку и предложим Вам отличную цену! Мы заберем автомобиль самостоятельно, своим ходом или эвакуатором, за наш счет.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Как вы выкупаете кредитные/залоговые автомобили?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                1. Напрямую договоримся с Вашим кредитором и, если стоимость автотехники больше Вашей задолженности, мы сразу же погасим Ваш кредит или займ у него. А разницу, между суммой долга и ценой выкупа, выдадим Вам на руки. <br>
                2. Если стоимость автотехники не перекрывает сумму долга, то мы внесем стоимость автомобиля, а Вы, оставшуюся часть долга. <br>
                3. Делаем это одновременно, чтобы снять ограничения / обременения.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Где будет происходить сделка?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Чаще всего, подписание договора купли-продажи и расчет с продавцом происходят у нас в офисе. Но, мы мобильны и для Вашего удобства можем это сделать у Вас, в ГИБДД или в банке.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Какие вы можете дать гарантии?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Сопровождением каждой сделки на всех ее этапах занимается профессиональный юрист. Мы гарантируем полную прозрачность и юридическую чистоту сделки. А также то, что все Ваши права и наши с Вами договоренности защищены договором!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Мне понадобится за что-то платить?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Нет! Все возможные расходы мы берем на себя.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">А в трейд ин не выгоднее сдать?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Вы можете оценить Ваш автомобиль у нас, это БЕСПЛАТНО. И потом оценить у дилера. Мы выкупаем залоговые и кредитные автомобили. И делаем это быстро. А значит, с нами Вы не привязаны к дилеру и сможете выбрать себе любой другой автомобиль!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Вы выкупаете технику с обременением?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Конечно, в том числе и когда: <br>
                1. Ваша техника является предметом залога и находится в залоге у банка или любого другого кредитора. <br>
                2. Приобреталась в кредит, который Вы еще не выплатили до конца. <br>
                3. Есть действующие ограничения на перерегистрацию в базах гос. органов. <br>
                4. Автомобиль или спецтехника являются предметом судебного спора или многолетней судебной тяжбы. <br>
                5. Судебными приставами или иными органами был наложен Арест. <br>
                Мы профессионально решаем любые проблемы. Быстро восстанавливаем и собираем документы. Закрываем долги. Снимаем обременения и прочие ограничения. И даже помогаем в урегулировании конфликтов между собственниками.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Я могу продать через доски объявлений дороже.</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Конечно Вы можете это попробовать. Но это, как правило, долгий и совершенно непредсказуемый процесс. С некоторой долей вероятности нарваться на очередных мошенников. У нас все надежно и честная цена!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Как происходит оценка?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Оценку всех автомобилей, мототехники и спецтехники, производит эксперт с помощью автоматизированной системы, с искусственным интеллектом. Путем выявления и сравнительного анализа 20 различных параметров, с аналогичной техникой представленной на рынке, и с ситуацией на рынке в целом, в каждый конкретный момент времени, формируется максимально выгодное предложение для Вас! Именно благодаря точной оценке, в 99% случаев, мы дадим цену выше, чем конкуренты!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Как происходит покупка?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                1. Оцениваем автомобиль. Выявляем подробные характеристики, запрашиваем фотографии и документы. <br>
                2. Предлагаем Вам цену. Обсуждаем условия продажи и окончательную стоимость. <br>
                3. Выходим на сделку. Проверяем документы, заключаем договор и производим расчет! <br>
                4. Регистрируем право собственности. По договоренности с Вами, либо наш менеджер самостоятельно едет в ГИБДД и производит перерегистрацию права собственности.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">У вас есть срочный выкуп? Цена будет ниже?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                1. Да, есть срочный выкуп! Мы покупаем объект за счет собственных средств, что позволяет оформить сделку в считанные часы, а порой и минуты. Если быть точным, то в 90% случаев, процесс выкупа любой техники, займет у Вас от 20 минут до 2-х часов!<br>
                2. Нет, мы покупаем Дорого! Обычно, дисконт от рыночной стоимости, составляет от 3-х до 12%, но окончательная цена, зависит от конкретных характеристик техники.<br>
                ВАЖНО! За один и тот же автомобиль, мы всегда даем Денег Больше, любых конкурентов!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Когда я получу деньги?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Мы профессионалы и всегда берем на себя все риски, а не взваливаем их на Клиента. Именно поэтому, в 99% случаев, Окончательный и Полный расчет с Клиентом осуществляем на месте, при подписании договора купли-продажи.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">С какими банками вы работаете?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quibusdam molestiae enim quo eum doloribus, beatae eius. Veniam repudiandae placeat pariatur unde, suscipit, aliquam nam, totam vel est magnam accusamus!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Мне нужно будет платить налог с продажи?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                В большинстве случаев, продажа не облагается налогом. Давайте мы Вас проконсультируем!
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Нужно обращаться к нотариусу?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Только когда это предусмотрено законом.
            </p>
        </div>
        <div class="faq__one one-quest">
            <header class="one-quest__header">
                <button class="one-quest__btn open-quest"></button>
                <h5 class="one-quest__name">Можно ли совершить сделку без визитов в офис?</h5>
                <img class="one-quest__arrow" src="images/icons/faq-arrow.png" alt="">
            </header>
            <p class="one-quest__content">
                Мы понимаем риск заражения Covid-19, поэтому все, что необходимо для оформления сделки, подготовим онлайн. Личное присутствие, потребуется только на самых необходимых этапах. Но, Вам не о чем переживать - все наши сотрудники проходят регулярные проверки, используют маски и перчатки.
            </p>
        </div>
    </div>
    <a href="#" class="btn faq__btn">
        Нужна консультация
    </a>
</section>