<footer class="footer">
    <div class="footer__cols">
        <div class="footer__contacts footer-contacts">
            <a href="/" class="header__logo logo logo--footer">
                <img class="logo__pic" src="images/logo.png" alt="">
                <span class="logo__text">
                    <span class="logo__text--name">ФИНСТРИТ</span>
                    GROUP
                </span>
            </a>
            <div class="header__time header__time--footer">
                Работаем: <br>с 9:00 до 21:00
            </div>
            <div class="header__contacts top-contacts">
                <div class="top-contacts__phone-con top-contacts__phone-con--footer">
                    Есть вопросы? Звоните!
                    <a href="tel:+79251905979" class="top-contacts__phone">+7 (925) 190-59-79</a>
                </div>
                <div class="top-contacts__soc top-contacts__soc--footer">
                    <a href="https://wa.me/+79029244666" class="bottom-social bottom-social--whatsapp"><svg aria-hidden="true" focusable="false" data-icon="whatsapp" class="bottom-social__icon"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg></a>
                    <a href="viber://chat?number=%2B79029244666" class="bottom-social bottom-social--viber"><svg class="bottom-social__icon" aria-hidden="true" focusable="false" data-icon="viber" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M444 49.9C431.3 38.2 379.9.9 265.3.4c0 0-135.1-8.1-200.9 52.3C27.8 89.3 14.9 143 13.5 209.5c-1.4 66.5-3.1 191.1 117 224.9h.1l-.1 51.6s-.8 20.9 13 25.1c16.6 5.2 26.4-10.7 42.3-27.8 8.7-9.4 20.7-23.2 29.8-33.7 82.2 6.9 145.3-8.9 152.5-11.2 16.6-5.4 110.5-17.4 125.7-142 15.8-128.6-7.6-209.8-49.8-246.5zM457.9 287c-12.9 104-89 110.6-103 115.1-6 1.9-61.5 15.7-131.2 11.2 0 0-52 62.7-68.2 79-5.3 5.3-11.1 4.8-11-5.7 0-6.9.4-85.7.4-85.7-.1 0-.1 0 0 0-101.8-28.2-95.8-134.3-94.7-189.8 1.1-55.5 11.6-101 42.6-131.6 55.7-50.5 170.4-43 170.4-43 96.9.4 143.3 29.6 154.1 39.4 35.7 30.6 53.9 103.8 40.6 211.1zm-139-80.8c.4 8.6-12.5 9.2-12.9.6-1.1-22-11.4-32.7-32.6-33.9-8.6-.5-7.8-13.4.7-12.9 27.9 1.5 43.4 17.5 44.8 46.2zm20.3 11.3c1-42.4-25.5-75.6-75.8-79.3-8.5-.6-7.6-13.5.9-12.9 58 4.2 88.9 44.1 87.8 92.5-.1 8.6-13.1 8.2-12.9-.3zm47 13.4c.1 8.6-12.9 8.7-12.9.1-.6-81.5-54.9-125.9-120.8-126.4-8.5-.1-8.5-12.9 0-12.9 73.7.5 133 51.4 133.7 139.2zM374.9 329v.2c-10.8 19-31 40-51.8 33.3l-.2-.3c-21.1-5.9-70.8-31.5-102.2-56.5-16.2-12.8-31-27.9-42.4-42.4-10.3-12.9-20.7-28.2-30.8-46.6-21.3-38.5-26-55.7-26-55.7-6.7-20.8 14.2-41 33.3-51.8h.2c9.2-4.8 18-3.2 23.9 3.9 0 0 12.4 14.8 17.7 22.1 5 6.8 11.7 17.7 15.2 23.8 6.1 10.9 2.3 22-3.7 26.6l-12 9.6c-6.1 4.9-5.3 14-5.3 14s17.8 67.3 84.3 84.3c0 0 9.1.8 14-5.3l9.6-12c4.6-6 15.7-9.8 26.6-3.7 14.7 8.3 33.4 21.2 45.8 32.9 7 5.7 8.6 14.4 3.8 23.6z"></path></svg></a>
                    <a href="https://telegram.me/finstreet" class="bottom-social bottom-social--telegram"><svg aria-hidden="true" focusable="false" class="bottom-social__icon" data-icon="telegram-plane"  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M446.7 98.6l-67.6 318.8c-5.1 22.5-18.4 28.1-37.3 17.5l-103-75.9-49.7 47.8c-5.5 5.5-10.1 10.1-20.7 10.1l7.4-104.9 190.9-172.5c8.3-7.4-1.8-11.5-12.9-4.1L117.8 284 16.2 252.2c-22.1-6.9-22.5-22.1 4.6-32.7L418.2 66.4c18.4-6.9 34.5 4.1 28.5 32.2z"></path></svg></a>
        
                </div>
            </div>
        </div>
        <div class="footer__servs">
            <nav class="footer-nav">
                <h6 class="footer-nav__title">Наши услуги</h6>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="zalog_nedvigimosti.html" class="footer-nav__link">Залог недвижимости</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="zalog_avto.html" class="footer-nav__link">Залог авто</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="broker.html" class="footer-nav__link">Брокерская деятельность</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="vukyp_nedvigimosti.html#trade-in" class="footer-nav__link">Трейд-ин</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="agentam_kreditnum.html" class="footer-nav__link">Кредитным агентам</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="agentam_rieltoram.html" class="footer-nav__link">Агентам риелторам</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="investoram.html" class="footer-nav__link">Инвесторам</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="vukup_bizness_activov.html" class="footer-nav__link">Выкуп бизнес активов</a>
                    </li>

                    <li class="footer-nav__item">
                        <a href="vukyp_nedvigimosti.html" class="footer-nav__link">Выкуп недвижимости</a></li>
                    <li class="footer-nav__item">
                        <a href="vukup_avto.html" class="footer-nav__link">Выкуп авто</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_kvartir.html" class="footer-nav__link">Выкуп квартир</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_komnat.html" class="footer-nav__link">Выкуп комнат</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_garagey.html" class="footer-nav__link">Выкуп гаражей</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_dach.html" class="footer-nav__link">Выкуп дач и частных домов</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_kommercheskoj_nedvigimosty.html" class="footer-nav__link">Выкуп ком. недвижимости</a></li>
                    <li class="footer-nav__item">
                        <a href="vukyp_uchastkov.html" class="footer-nav__link">Выкуп участков</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__info">
            <nav class="footer-nav">
                <h6 class="footer-nav__title">Дополнительная информация</h6>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item">
                        <a href="leader_contacts.html" class="footer-nav__link">Контакты руководителя </a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="requisites_zalog_nedvigimosti.html" class="footer-nav__link">Юридические данные</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="finansovue_uslugi.html" class="footer-nav__link">Лицензии банков</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="offer.html" class="footer-nav__link">Оферта</a>
                    </li>
                    <li class="footer-nav__item">
                        <a href="privacy.html" class="footer-nav__link">Обработка персональных данных</a>
                    </li>
                </ul>
            </nav>
            <a href="#header" class="footer__up footer-up">
                Подняться наверх
                <img class="footer-up__icon" src="images/icons/up.png" alt="">
            </a>
        </div>
    </div>
    <p class="footer__privacy">Генеральная лицензия Банка России ПАО «Сбербанк России» № 1481 Представленные данные на сайте не являются публичной офертой и носят информационно-справочный характер,
        ООО «ФИНСТРИТ-ГРУПП» не кредитная организация, работает на основании договоров о сотрудничестве с Банками партнерами, РНКО, НДКО, КПК, кредитными союзами, лизинговыми компаниями,
        кассами взаимопомощи, инвестиционными фондами и частными инвесторами. Оказывает содействие в подборе финансовых услуг и организаций. Услуги по выдаче займов и кредитов оказываются
        организациями, имеющими на это соответствующие лицензии, разрешения, аккредитации, либо включенными в соответствующие реестры
        или являющимися членами соответствующих СРО.</p>
</footer>

<div class="modal modal-callback">
    <div class="modal__bg"></div>
    <div class="modal__content">
        <button class="modal__close modal-close">
            <picture class="modal-close__icon">
                <source srcset="images/icons/close.svg" type="image/svg+xml">
                <img src="images/icons/close.png" alt="закрыть">
            </picture>
        </button>
        <div class="first__form main-form">
            <h2 class="main-form__title">Оставьте свой номер телефона и мы Вам сразу перезвоним</h2>
            <form class="main-form__form" action="application.php" method="post">
                <input type="hidden" name="formPage" value="@@page">
                <input type="hidden" name="formData" value="">
                <input type="tel" name="phone" class="main-form__input" placeholder="+7 (___) ___-__-__" required maxlength="70">
                <p class="main-form__text">Мы уточним все параметры <br>
                    и предложим Вам лучшую Цену!</p>
                <button class="btn main-form__submit">получить предложение</button>
            </form>
        </div>
    </div>
</div>