<section id="road" class="road">
    <h2 class="road__title subtitle">Как до нас добраться</h2>
    <div class="road__content">
        <div class="road__info">
            <div class="road-address">
                <h5 class="road-address__name">Адрес:</h5>
                <p class="road-address__info">г. Красноярск, ул. Алексеева д.49, <br>деловой центр Вертикали, <br>14 этаж, офис 14-02</p>
            </div>
            <div class="road-address">
                <h5 class="road-address__name">телефон:</h5>
                <p class="road-address__info">+7 (925) 190-50-79</p>
            </div>
            <div class="road-address">
                <h5 class="road-address__name">WhatsApp/Viber/Telegram:</h5>
                <p class="road-address__info">+7 (925) 190-50-79</p>
            </div>
        </div>
        <div id="map" class="road__map map">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A7a4d935a39b2298d5025e1a8ddfe520b6a687e8655622664fd74b53711d0006a&amp;source=constructor" frameborder="0"></iframe>
        </div>
    </div>
</section>