<section class="video-feed">
    <h2 class="video-feed__title subtitle">Видео отзывы наших клиентов</h2>
    <div class="video-feed__list">
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="video-feed__one one-video">
            <div class="one-video__con">
                <iframe src="https://www.youtube.com/embed/yrOYxLt9SCI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>