.btn{
    display: block;
    padding: 20px 30px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $green;
    border-radius: 30px;
    border: 2px solid $green;
    @include trans;
    cursor: pointer;
    &:focus{
        background-color: #fff;
        color: $green;
        outline-color: $green;
    }
    &:hover{
        background-color: #fff;
        color: $green;
        border-color: currentColor;
    }
}