.buy{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }   
    }
    &__subtitle{
        margin-top: 25px;
        font-size: 24px;
        color: $font-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 75px;
        }
    }
    &__list{
        @media screen and (min-width: 520px) {
            @include flex($wrap: wrap, $align: stretch, $just: space-between);
            row-gap: 30px;
        }
        @media screen and (min-width: 768px) {
        }
        @media screen and (min-width: 1200px) {
            justify-content: flex-start;
            column-gap: 30px;
            row-gap: 60px;
        }
    }
    &__one{
        @media screen and (min-width: 520px) {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: 768px) {
            max-width: 48%;
        }
        @media screen and (min-width: 1024px) {
            max-width: 30%;
            margin-left: 0;
            margin-right: 0;
        }
        @media screen and (min-width: 1200px) {    
            max-width: 370px;
        }
        & + &{
            @media screen and (max-width: 768px) {
                margin-top: 30px;       
            }
        }
    }
}
.buy-item{
    &__pic{
        display: block;
        width: 100%;
        border-radius: 6px;
    }
    &__name{
        min-height: 52px;
        margin: 18px 0 0;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.3;
        text-align: left;
        
    }
    &__btn{
        padding-left: 54px;
        padding-right: 54px;
        margin-top: 31px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }

    }
}