.callback{
    @include cont();
    padding-top: 30px;
    padding-bottom: 60px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        padding-top: 40px;
        padding-bottom: 80px;
    }
    @media screen and (min-width: 1024px) {
        padding-top: 85px;
        height: 645px;
    }
    &--drive{
        background-image: url(../images/callback-bg/free-bg.jpg);
    }
    &--calc{
        background-image: url(../images/callback-bg/calc-bg.jpg);
    }
    &--start{
        background-image: url(../images/callback-bg/start-bg.jpg);
    }
    &--plan{
        background-image: url(../images/callback-bg/plan-bg.jpg);
    }
    &--mark{
        background-image: url(../images/callback-bg/mark-bg.jpg);
    }
    &--garage{
        background-image: url(../images/callback-bg/garage-bg.jpg);
    }
    &--start-garage{
        background-image: url(../images/callback-bg/start-garage.jpg);
    }
    &--calc-garage,
    &--garage-plan{
        background-image: url(../images/callback-bg/mark-garage.jpg);
    }
    &--price-garage{
        background-image: url(../images/callback-bg/garage-price.jpg);
    }
    &--garage-buy{
        background-image: url(../images/callback-bg/garage-buy.jpg);
    }
    &--broker,
    &--mark-garage{
        background-image: url(../images/callback-bg/calc-garage.jpg);
    }
    &--quart-problem{
        background-image: url(../images/callback-bg/quart-problem.jpg);
    }
    &--mark-quart{
        background-image: url(../images/callback-bg/quart-mark.jpg);
    }
    &--commerce-problem{
        background-image: url(../images/callback-bg/commerc-problem.jpg);
    }
    &--commerce-plan{
        background-image: url(../images/callback-bg/commerce-plan.jpg);
    }
    &--estate-mark{
        background-image: url(../images/callback-bg/estate-mark.jpg);
    }
    &--estate-price{
        background-image: url(../images/callback-bg/price-bg.jpg);
    }
    &--area-problem{
        background-image: url(../images/callback-bg/area-problem.jpg);
    }
    &--area-mark{
        background-image: url(../images/callback-bg/mark-area.jpg);
    }
    &--room-price{
        background-image: url(../images/callback-bg/room-price.jpg);
    }
    &--house-problem{
        background-image: url(../images/callback-bg/house-problem.jpg);
    }
    &--mark-house{
        background-image: url(../images/callback-bg/mark-house.jpg);
    }
    &--vikup{
        background-image: url(../images/first-bg/estate.jpg);
    }
    &--problem-buis{
        background-image: url(../images/callback-bg/buisness-problem.jpg);
    }
    &--dev{
        background-image: url(../images/callback-bg/dev.jpg);
    }
    &--timer{
        height: auto;
        @media screen and (min-width: 1200px) {
            padding-bottom: 115px;
        }

        .callback__form{
            margin-top: 35px;
        }
    }
    &__title{
        color: #fff;
        text-align: center;
    }
    &__text{
        margin: 32px 0 25px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;          
        color: #fff;
    }
    &__form{
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 320px;
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 55px;
        }
    }
}
.form-callback{
    &__input,
    &__submit{
        width: 100%;
    }
    &__submit{
        margin-top: 15px;
    }
}
.timer{
    &__text{
        font-size: 18px;
        line-height: 1;
        color: #fff;
        text-align: center;
    }
    &__numbers{
        @include flex($just: center);
    }
}
.number{
    & + &{
        position: relative;
        margin-left: 20px;
        &::before{
            content: ":";
            position: absolute;
            top: 15px;
            left: -13px;
            font-size: 24px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1;          
        }
    }
    &__text{
        font-size: 15px;
        line-height: 1;
        color: #fff;
        text-align: center;
    }
    &__val{
        @include flex($just: center);
        margin-bottom: 4px;
    }
    &__val-con{
        padding: 10px 8px;
        text-align: center;
        background-color: #fff;
        & + &{
            margin-left: 5px;
        }
    }
    &__value{
        display: inline-block;
        width: 15px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;          
    }
}