.calculate{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__form{
        max-width: 750px;
        margin: 0 auto;
    }
}
.calc-form{
    @include flex($dir: column, $just: flex-start, $wrap: wrap);
    @media screen and (min-width: 786px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media screen and (min-width: 1024px) {
        align-items: flex-end;
    }
    &__label{
        display: block;
        width: 100%;
        & + &{
            @media screen and (max-width: 786px) {
                margin-top: 30px;
            }
        }
        @media screen and (min-width: 786px) {
            width: 48%;
        }
        @media screen and (min-width: 786px) {
            width: 320px;
            &:not(:last-of-type){
                margin-bottom: 20px;
            }
        }
    }
    &__name{
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
    }
    &__input{
        display: block;
        width: 100%;
        background-color: $grey;
        padding: 20px 20px;
        text-align: start;
        font-size: 16px;
        color: rgba(79, 79, 79, 0.502);
        border: none;
        line-height: 1.5;
    }
    &__submit{
        padding: 10px 30px;
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.25;
            text-align: center;
          
        @media screen and (max-width: 786px) {
            margin-top: 30px;
            width: 100%;
        }
        @media screen and (min-width: 786px) {
            flex-basis: 48%;
        }
        @media screen and (min-width: 786px) {
            flex-basis: 320px;
        }
    }
}