.calc-invest{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
    }
    &__info{
        margin: 0 0 20px;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
        }          
    }
}

.invest-count{
    @include flex($dir: column, $just: center, $align: center);
    max-width: 640px;
    margin: 0 auto;
    padding: 30px 0 40px;
    border-radius: 6px;
    box-shadow: 0px 10px 20px 0px rgba(17, 20, 45, 0.08);      
    @media screen and (min-width: 768px) {
        padding: 50px 0 80px;
    }
    &__values{
        max-width: 315px;
        width: 100%;
        margin: 0 auto;

        & + &{
            margin-top: 40px;
        }

    }
    &__input{
        display: block;
        width: 100%;
        margin: 15px auto 0px;
        padding: 20px 0 20px 60px;
        text-align: start;
        font-size: 16px;
        color: rgba(79, 79, 79, 0.502);
        background-color: $grey;
        line-height: 1.5;
        border: none;
        &--result{
            background: none;
            pointer-events: none;
            text-align: center;
            font-size: 24px;
            line-height: 1;
            border-width: 2px;
            border-color: rgb(247, 247, 253);
            border-style: solid;
                  
        }
    }
    &__range{
        display: block;
        width: 100%;
        background-color: $green;
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        appearance: none; 
        &:focus {
            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        }
        &::-ms-track {
            width: 100%;
            cursor: pointer;
            background: transparent; 
            border-color: transparent;
            color: transparent;
        }
        &::-webkit-slider-thumb{
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 50%;
            background-color: $green;
            margin-top: -8px;
            cursor: pointer;
        }
        &::-webkit-slider-runnable-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: $green;
            border-radius: 1.3px;
          }
          
          &:focus::-webkit-slider-runnable-track {
            background: $green;
          }
          
          &::-moz-range-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: $green;
            border-radius: 1.3px;
          }
          
          &::-ms-track {
            width: 100%;
            height: 4px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
          }
    }
}