.check-photo{
    @include cont;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: $grey;
    @media screen and (min-width: 1200px){
        padding-top: 90px;
        padding-bottom: 40px;
    }
    &__content{
        margin-top: 20px;
        @media screen and (min-width: 768px){
            margin-top: 0px;
            @include flex($just: space-between);
        }
    }
    &__text{
        @media screen and (min-width: 768px){
            width: 50%;
        }

    }
    &__descr{
        margin: 0 0 20px;
        font-size: 24px;
        color: rgb(39, 43, 72);
        font-weight: bold;
        line-height: 1.4;
        text-align: left;
        br{
            @media screen and (max-width: 1024px){
                display: none;
            }
        }          
        @media screen and (min-width: 1024px){
            margin-bottom: 40px;
        }
    }
    &__btns{
        @include flex($dir: column);
        row-gap: 20px;
        @media screen and (min-width: 1024px){
            flex-flow: row wrap;
            justify-content: space-around;
            row-gap: 40px;
        }
        
    }
    &__btn{
        flex-basis: 48%;
    }
    &__pic{
        width: 100%;
        @media screen and (min-width: 768px){
            width: 50%;
        }
        @media screen and (min-width: 1024px){
            width: 470px;
        }
    }
}