.doc{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__link{
        display: block;
        margin: 0 auto 30px;
        width: 100%;
        max-width: 700px;
    }
    &__pic{
        width: 100%;
    }
    p{
        line-height: 1.3;
        font-size: 18px;
    }
    a{
        color: $green;
    }
    &__pics{
        @include flex($wrap: wrap, $just: space-between);
    }
    &__license{
        flex-basis: 48%;
        @media screen and (min-width: 768px) {
            flex-basis: 30%;
        }
        img{
            width: 100%;
        }
    }
}