.examples{
    position: relative;
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    .slide-examples__btn{
        @media screen and (max-width: 1024px){
            position: absolute;
            bottom: 30px;
            right: 30px;
            &--prev{
                left: 30px;
                right: unset;
            }
        }
        @media screen and (min-width: 768px) and (max-width: 1024px){
            bottom: unset;
            top: 50%;
            transform: (0, -50%);
        }
    }
    // &--middle{
    //     .slide-content__photos{
    //         grid-template-areas: "big";
    //         justify-content: center;
    //     }
    //     .slide-content__name{
    //     }
    // }
    // &--right{
    //     .slide-content__name{
    //         font-size: 18px;
    //     }
    // }
}
.slide-examples{
    @media screen and (min-width: 1024px){
        @include flex($just: center);
        column-gap: 35px;
    }
    &__btn{
        width: 60px;
        height: 60px;       
        flex-shrink: 0;   
        @include flex($just: center);
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: rgb(76, 187, 23);
        box-shadow: 0px 10px 20px 5px rgba(76, 187, 23, 0.2);
        cursor: pointer;
        @include trans;
        &:hover{
            transform: scale(1.1);
        }
        &--prev{
            .slide-examples__btn-icon{
                transform-origin: center center;
                transform: rotate(180deg);
            }
        }
    }
    &__btn-icon{
        width: 15px;
    }
    &__slider{
        box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);          
        @media screen and (max-width: 768px){
            margin-bottom: 90px;

        }
        @media screen and (max-width: 1024px){
        }
        @media screen and (min-width: 1024px){   
            width: 820px;
        }
    }
    &__one{
        padding: 30px 20px 30px;
        background-color: rgb(255, 255, 255);
        @media screen and (min-width: 1024px){
            padding: 35px 35px 50px;
        }
    }
}
.slide-content{
    box-sizing: border-box;
    &__photos{
        // display: grid;
        // grid-template-areas: "big small1" "big small2" "big small3";
        // gap: 35px;
    }
    &__photo{
        background-color: $grey;
        &--big{
            // grid-area: big;
            display: block;
            margin: 0 auto;
            width: 100%;
            @media screen and (min-width: 1024px) {
                max-width: 520px;
            }   
        }
        // &--small{
        //     @media screen and (min-width: 1024px) {   
        //         width: 190px;
        //         height: 90px;
        //     }
        // }
        // &--small1{
        //     grid-area: small1;
        // }
        // &--small2{
        //     grid-area: small2;
        // }
        // &--small3{
        //     grid-area: small3;
        // }
    }
    &__name{
        margin: 20px 0 0;
        line-height: 1.5;
        font-size: 20px;
        text-align: center;
        @media screen and (min-width: 768px) {
        }
    }
    
}