.faq{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1640px) {
            margin-bottom: 135px;

        }
    }
    &__list{
        max-width: 760px;
        margin: 0 auto;
    }
    &__one{}
    &__btn{
        margin: 20px auto 0;
        max-width: 310px;
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
    }
}
.one-quest{
    border: 1px solid $grey;
    & + &{
        border-top: none;
    }
    &--open{
        .one-quest{
            &__content{
                height: auto;
                transform: scaleY(1);
                padding-top: 15px;
                padding-bottom: 15px;

            }
            &__arrow{
                transform: rotate(180deg);
            }
        }
    }
    &__header{
        position: relative;
        @include flex($just: space-between);
        padding: 15px;
        @include trans;
        &:hover{
            background-color: $grey;
        }
        @media screen and (min-width: 768px) {
            padding: 20px;
        }
        @media screen and (min-width: 1024px) {
            padding: 20px 30px;
        }

    }
    &__btn{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &__name{
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.3;      
        @media screen and (min-width: 768px) {
            font-size: 20px;

        }
        @media screen and (min-width: 1024px) {
            font-size: 24px;

        }

    }
    &__arrow{
        margin-left: 20px;
        transform-origin: center center;
        @include trans
    }
    &__content{
        margin: 0;
        height: 0;
        padding-left: 30px;
        padding-right: 30px;
        transform: scaleY(0);
        transform-origin: top center;
        @include trans;
        overflow: hidden;
        font-size: 16px;
        line-height: 1.5;
        a{
            text-decoration: none;
            color: $green;
            @include trans;
            border-bottom: 1px solid transparent;
            &:hover{
                border-bottom-color: $green;
            }
        }
    }
}