.first{
    padding-bottom: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &--avto{
        background-image: url(../images/first-bg/avto.jpg);
    }
    &--garage{
        background-image: url(../images/first-bg/garage.jpg);
    }
    &--quart{
        background-image: url(../images/first-bg/quarts.jpg);
    }
    &--commerce{
        background-image: url(../images/first-bg/commercial.jpg);
    }
    &--estate{
        background-image: url(../images/first-bg/estate.jpg);
    }
    &--area{
        background-image: url(../images/first-bg/area.jpg);
    }
    &--credit-agents{
        background-image: url(../images/first-bg/credit-agents.jpg);
    }
    &--house{
        background-image: url(../images/first-bg/house.jpg);
    }
    @media screen and (min-width: 1024px){
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px){
        padding-bottom: 100px;
    }
    &__content{
        @include cont;
        padding-top: 30px;
        @media screen and (min-width: 1024px){
            @include flex($just: space-between, $align: flex-start);
            padding-top: 40px;
        }
        @media screen and (min-width: 1200px){
            padding-top: 70px;
        }
        &--thanks{
            min-height: 30vh;
            justify-content: center;
            align-items: center;
        }
    }
    &__form{
        position: relative;
        border-radius: 6px;
        background-color: #fff;
        @media screen and (max-width: 1024px){
            margin-top: 60px;
        }
    }
    &__pluses{
        margin-top: 35px;
        @media screen and (min-width: 1200px){
            margin-top: 105px;
        }

    }
}

.main-form{
    padding: 36px 28px 70px;
    @media screen and (max-width: 1024px) {
        min-width: 320px;
        max-width: 69%;
        margin-left: auto;;
        margin-right: auto;;
    }
    @media screen and (min-width: 1640px) {
        padding: 36px 45px 70px;

    }
    &__title{
        margin: 0 0 20px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;          
        @media screen and (min-width: 1024px){
            max-width: 225px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 12px;
        }
    }
    &__text{
        margin: 0 0 20px;
        font-size: 14px;
        line-height: 1.4;
        text-align: center;          
    }
    &__forn{
        padding: 0 10px;
    }
    &__input{
        width: 100%;
        max-width: 315px;
        margin: 0 auto 16px;
        padding: 20px 0 20px 60px;
        text-align: start;
        font-size: 16px;
        color: rgba(79, 79, 79, 0.502);
        line-height: 1.5;
        border: none;
        background-color: $grey;
        background-image: url(../images/icons/phone-form.png);
        background-repeat: no-repeat;
        background-size: 18px auto;
        background-position: 30px 50%;
        &::placeholder{
            color: rgba(79, 79, 79, 0.502);
        }
        @media screen and (min-width: 1024px) {
            & + .main-form__text{
                margin-bottom: 30px;
            }             
        }
        @media screen and (min-width: 1640px) {
            & + .main-form__text{
                margin-bottom: 40px;
            }             
        }
    }
    &__submit{
        width: 100%;
        border-radius: 200px;
        @media screen and (min-width: 1024px) {
            max-width: 280px;
            margin: 0 auto -100px;
        }
    }
}
.first-pluses{
    @include cont;
    @media screen and (min-width: 768px){
        @include flex($wrap: wrap, $just: flex-start, $align: flex-start);
        row-gap: 20px;
        column-gap: 20px;
    }
    @media screen and (min-width: 768px){
        column-gap: 3%;
        row-gap: 20px;
    }
    @media screen and (min-width: 1024px){
        row-gap: 35px;
        column-gap: 25px;
    }
    @media screen and (min-width: 1200px){
        // row-gap: 50px;
        column-gap: 50px;
    }
    &__one{
        margin: 0;
        width: 100%;
        font-size: 16px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.5;
        @media screen and (max-width: 768px){
            br{
                display: none;
            }
        }
        @media screen and (min-width: 768px){
            max-width: 30%;
        }
        @media screen and (min-width: 1024px){
            max-width: 210px;
            
        }
        & + &{
            @media screen and (max-width: 768px){
                margin-top: 25px;
            }
        }
        
    }
    &--index,
    &--garage,
    &--nedv,
    &--invest{
        justify-content: space-between;
        @media screen and (min-width: 1200px){
            column-gap: unset;
        }

    }
    &--nedv{
        .first-pluses__one{
            @media screen and (min-width: 1024px){
                max-width: 22%;
            }
        }
    }
    &--invest{
        .first-pluses__one{
            @media screen and (min-width: 1024px){
                max-width: 24%;
            }
        }
    }
}