.footer{
    @include cont;
    background-color: $grey;
    padding-top: 30px;
    padding-bottom: 30px;
    @media screen and (min-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    &__cols{
        @media screen and (min-width: 1024px) {
            @include flex($just: space-between, $align: stretch);
            column-gap: 20px;
        }
        @media screen and (min-width: 1200px) {
            column-gap: 100px;
        }
        
    }
    &__privacy{
        margin: 30px 0 0;
        font-size: 12px;
        color: rgba(39, 43, 72, 0.502);
        line-height: 1.5;          
        @media screen and (min-width: 1024px) {
            margin-top: 50px;
        }
    }
    &__servs{
        margin: 40px 0;
        @media screen and (min-width: 1024px) {
            margin: 0;
            flex-grow: 1;
        }

    }
}

.footer-nav{
    &__title{
        margin: 0 0 30px;
        font-size: 14px;
        color: rgba(39, 43, 72, 0.6);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.8;          
    }
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 1024px) {
            @include flex($dir: column, $wrap: wrap, $align: flex-start);
            max-height: 270px;
            column-gap: 80px;
        }
    }
    &__link{
        font-size: 16px;
        line-height: 2; 
        text-decoration: none;
        color: $font-color;
        @include trans;
        &:hover{
            color: $green;
        }

    }
}
.bottom-social{
    @include flex($just: center);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid $green;
    &--whatsapp{
        border-color: #24ce46;
        .bottom-social__icon{
            fill: #24ce46;;
        }
    }
    &--viber{
        border-color: #9536bd;
        .bottom-social__icon{
            fill: #9536bd;;
        }
    }
    &--telegram{
        border-color: rgb(64, 174, 222);
        .bottom-social__icon{
            fill: rgb(64, 174, 222);;
        }
    }
    &__icon{
        width: 20px;
        // height: 18px;
        object-fit: contain;
    }
      
}

.footer-up{
    @include flex;
    margin-top: 30px;
        font-size: 16px;
        color: rgba(39, 43, 72, 0.8);
        line-height: 2.25;
        text-decoration: none;
        @include trans;
        &:hover{
            color: $green;
        }
    &__icon{
        width: 50px;
        height: 50px;
        margin-left: 20px;
    }
}