.get{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title--buisness{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }

    }
    &__title{
        margin-bottom: 20px;
        font-size: 18px;
        text-transform: uppercase;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
            font-size: 20px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
            font-size: 24px;
        }
    }
    &__list{
        @include flex($wrap: wrap, $just: flex-start, $align: stretch);
        @media screen and (min-width: 1024px) {
            justify-content: space-between;
            row-gap: 30px;
            // column-gap: 30px;
        }
    }
    &__item{
        @media screen and (min-width: 1024px) {
            flex: 32% 0 0;
        }
    }
    &__subtitle{
        margin-top: 25px;
        font-size: 24px;
        color: $font-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (max-width: 768px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 75px;
        }
    }
}

.one-get{
    padding: 20px 30px 35px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);
    @media screen and (max-width: 1024px) {
        width: 100%;
    }    
    & + &{
        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
        @media screen and (max-width: 1024px) {
            margin-top: 50px;
        }
    }
    &__icon{
        display: block;
        width: 95px;
        height: 90px;
        margin: 0 auto 30px;
        object-fit: contain;
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__title{
        margin: 0 0 10px;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            margin-bottom: 0px;
        }
    }
    &__text{
        margin: 0;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;      
    }
}