.header{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    @include cont;
    @include flex($just: space-between, $align: center);
    box-sizing: border-box;
    @include trans;
    @media screen and (max-width: 1024px){
        flex-wrap: wrap;
        @include trans;
        &--mobile-open{
            background-color: rgba(0, 0, 0, 0.8);
            .header__nav{
                visibility: visible;
                transform: scaleY(1);
                background-color: rgba(0, 0, 0, 0.8);

            }
        }
    }
    @media screen and (min-width: 1024px){
        align-items: flex-start;
    }
    @media screen and (min-width: 1200px){
        padding-top: 34px;
    }
    &--fixed{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 11111;
        background-color: rgba(0, 0, 0, 0.8);
        transform: translate(0, 0);
    }
    &__mobile-btn{
        @media screen and (min-width: 1024px){
            display: none;
        }

    }
    &__nav{
        @media screen and (max-width: 1024px){
            position: absolute;
            left: 0;
            top: 100%;
            z-index: 100;
            width: 100%;
            padding: 20px;
            overflow: hidden;
            visibility: hidden;
            transform-origin: top center;
            transform: scaleY(0);
            @include trans;
            
        }
        @media screen and (min-width: 1024px){
            padding-top: 10px;
        }
    }
    &__contacts{
        @media screen and (max-width: 1024px){
            flex-basis: 100%;
            margin-top: 20px;
        }
    }
    &__time{
        display: none;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1.2;
        @media screen and (max-width: 768px) {
            line-height: 1.5;
        }
        @media screen and (min-width: 1024px) {
            display: block;
        }  
        &--footer{
            display: block;
            color: $font-color;
            margin-top: 20px;
            @media screen and (min-width: 1024px) {
                margin-top: 50px;
            }
        }
    }
}

.top-nav{
    &__list{
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (min-width: 1024px){
            @include flex($just: space-between);
        }
    }
    &__item{
        & + &{
            @media screen and (max-width: 1024px) {
                margin-top: 10px;
            }
            @media screen and (min-width: 1024px) {
                margin-left: 10px;
            }
            @media screen and (min-width: 1200px) {
                margin-left: 20px;
            }
        }
    }
    &__link{
        font-size: 16px;
        color: rgb(255, 255, 255);
        line-height: 1.5;         
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
        @include trans;
        &:hover{
            border-bottom-color: #fff;
        }
        @media screen and (min-width: 1024px) {
            font-size: 14px;
        }
        @media screen and (min-width: 1200px) {
            font-size: 16px;
            
        }

    }
}
.mobile-btn{
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: #4cbc17;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    &__icon{
        width: 20px;
        color: #fff;
    }
}
.top-contacts{
    &__phone-con{
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        line-height: 1;    
        text-align: start;
        @media screen and (max-width: 768px) {
            line-height: 1.5;
        }
        @media screen and (max-width: 1024px) {
            display: none;
        }           
        &--footer{
            display: block;
            margin-top: 20px;
            color: $font-color;
            @media screen and (min-width: 1024px) {
                margin-top: 50px
            }
            .top-contacts__phone{
                color: $font-color;
            }
        } 
    }
    &__phone{
        display: block;
        font-size: 22px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1;
        text-decoration: none;
        @media screen and (min-width: 1024px) {
            font-size: 20px;
            line-height: 1.5;
        }
        @media screen and (min-width: 1200px) {
            font-size: 22px;
        }
        
    }
    &__soc{
        margin-top: 10px;
        @include flex($just: space-between);
        @media screen and (max-width: 1024px){
            margin: 0 auto;
        }
        &--footer{
            max-width: 250px;
            margin-top: 30px;
            margin-left: 0;

        }
    }
}
.top-social{
    @include flex($just: center);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    &--phone{
        display: none;
        background-color: #4cbc17;
        @media (max-width: 1024px){
            display: flex;
        }
    }
    &--whatsapp{
        background-color: #24ce46;
    }
    &--viber{
        background-color: #9536bd;
    }
    &--telegram{
        background-color: rgb(64, 174, 222);
    }
    &__icon{
        width: 20px;
        // height: 18px;
        object-fit: contain;
    }
      
}