.logo{
    @include flex();
    text-decoration: none;
    &__pic{
        width: 40px;
        margin-right: 10px;
    }
    &--footer{
        .logo__text{
            color: $font-color;
            &--name{
                color: $font-color;
            }
        }
    }
    &__text{
        font-size: 12px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.333;          
        &--name{
            display: block;
            font-size: 16px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1;
        }
    }
}