.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    &--open{
        @include flex($just: center, $align: center);
    }
    &__bg{
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
    &__content{
        position: relative;
        max-width: 320px;
        z-index: 5;
    }
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 30px;
    padding: 0;
    border: none;
    background-color: transparent;
    @include trans;
    &:hover{
        transform: scale(1.1);
    }
}