.moments{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__list{
        @media screen and (min-width: 1024px) {
            @include flex($just: space-between, $align: flex-start);
        }
    }
    &__one{
        @media screen and (min-width: 1024px) {
            flex-basis: 48%;
        }

    }
}
.one-moment{
    padding: 30px;
    border: 1px solid rgb(244, 244, 244);
    border-radius: 6px;      
    &__title{
        margin: 0 0 12px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.3;          
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        padding-left: 30px;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;
        background-position: 0 8px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='13px' height='13px'%3E%3Ctext kerning='auto' font-family='Myriad Pro' fill='rgb(0, 0, 0)' font-size='28px' x='0px' y='16.6409999999996px'%3E%3Ctspan font-size='28px' font-family='Gilroy' fill='%234CBB17'%3E&%2343;%3C/tspan%3E%3C/text%3E%3C/svg%3E");      
        background-repeat: no-repeat;
        & + &{
            margin-top: 10px;
        }
    }
}