.need-items{
    @include cont;
    padding-bottom: 60px;
    &--zalog{
        padding-top: 30px;
        @media screen and (min-width: 1024px) {
            padding-top: 50px;
        }
    }
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 45px;
        }
    }
    &__list{
        @include flex($just: space-between, $align: stretch);
        @media screen and (max-width: 1024px){
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 30px;
        }
    }
    &__one{
        flex-basis: 100%;
        width: fit-content;
        @media screen and (min-width: 520px) {
            // flex-basis: ;
        }
        @media screen and (min-width: 768px) {
            flex-basis: 47%;
        }
        @media screen and (min-width: 1024px) {
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 270px;
        }
        & + &{
            @media screen and (max-width: 768px) {
                margin-top: 30px;  
            }
        }

    }
}
.one-need{
    position: relative;
    padding: 0 0 50px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);      
    &--zalog{
        max-height: 225px;
        overflow: hidden;
        .one-need__pic{
            margin-top: -50%;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: 370px;
        }

    }
    &__pic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        @media screen and (min-width: 1024px) {
            width: 227px;
            margin-top: -40px;
        }
    }
    &__title{
        margin: 10px 0 10px;
        text-align: center;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.3;          
    }
    &__descr{
        margin: 0;
            font-size: 16px;
            color: rgb(39, 43, 72);
            line-height: 1.5;
            text-align: center;          
    }
}