.numbers{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 35px;
        @media screen and (min-width: 768px) {
            margin-bottom: 45px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }   
    }
    &__subtitle{
        margin-top: 25px;
        font-size: 24px;
        color: $font-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 75px;
        }
    }
    &__list{
        @include flex($wrap: wrap, $just: center);
        @media screen and (min-width: 768px) {
            justify-content: space-between;
            align-items: flex-start;
        }
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 60px;
            justify-items: center;
        }
        &--agent{
            grid-template-columns: 1fr 1fr, 1fr;

        }
    }
    &__one{
        & + &{
            @media screen and (max-width: 768px) {
                margin-top: 35px;
            }
        }
    }
}
.one-number{
    max-width: 345px;
    &--invest{
        max-width: unset;
    }
    &__val{
        width: 205px;
        margin: 0 auto 20px;
        @include flex($just: space-between);
        @media screen and (min-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__branch{
        height: 75px;
        &--left{
            transform-origin: center center;
            transform: rotate(-180deg);
        }
    }
    &__value{
            font-size: 32px;
            font-weight: bold;
            text-align: center;          
    }
    &__descr{
        margin: 0;
            font-size: 16px;
            line-height: 1.5;
            text-align: center;          
    }
}