.partners{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__list{
        @include flex($just: center, $wrap: wrap);
        row-gap: 60px;
        @media screen and (min-width: 768px) {
            column-gap: 60px;
        }
        @media screen and (min-width: 1024px) {
            column-gap: 160px;
        }
        &--brokers{
            @media screen and (min-width: 1024px) {
                column-gap: 60px;
            }
        }
        
    }
    &__logo{
        width: 70%;
        @media screen and (min-width: 768px) {
            width: 30%;
        }
        @media screen and (min-width: 1024px) {
            width: auto;
        }

    }
}