.pluses{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $grey;
    &--zalog{
        background-color: #fff;
        .pluses__subtitle{
            margin-top: 0;
        }
        .pluses__one{
            box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);
        }
          
    }
    &--agent{
        margin-bottom: 30px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 60px;
        }
    }
    &__list{
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 55px;
        }
    }
    &__one{
        & + &{
            margin-top: 30px;
        }
    }
    &__subtitle{
        margin-top: 25px;
        font-size: 24px;
        color: $font-color;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            margin-top: 50px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 75px;
        }
    }
}
.plus-one{
    padding: 15px;
    background-color: #fff;
    @media screen and (min-width: 768px) {
        @include flex($align: flex-start);
    }
    @media screen and (min-width: 1024px) {
        padding: 30px;
    }
    &__info{
        padding-top: 45px;
        &--story{
            align-self: flex-start;
            padding-top: 20px;
            @media screen and (min-width: 768px) {
                padding-top: 30px;
            }
            @media screen and (min-width: 1024px) {
                padding-top: 60px;
            }
        }
    }
    &__pic{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            width: 40%;
            margin-bottom: 0;
            margin-right: 20px;
        }
        @media screen and (min-width: 1024px) {
            width: 400px;
            margin-right: 30px;
        }
    }
    &__title{
        margin: 0 0 10px;
        font-size: 24px;
        font-weight: bold;
        line-height: 1;
        text-align: left;          
    }
    &__descr{
        margin: 0;
        font-size: 16px;
        line-height: 1.6;
        text-align: left;          
    }
}
.story-info{
    margin: 0 0 6px;
    font-size: 16px;
    line-height: 1.6;      
    &__name{
        font-weight: bold;
    }
}