.price-examples{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__btns{
        margin-top: 35px;
        @include flex($just: center);
        column-gap: 50px;
    }
    &__btn{
        max-width: 360px;
        margin: 30px auto 0;
        @media screen and (min-width: 768px) {
            margin-top: 60px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 80px;
        }
    }
    &__sliders{
        @media screen and (min-width: 1024px) {
            @include flex($just: space-between, $align: flex-start);
        }
    }
    &__slider-list{
        max-width: 380px;
        flex: auto 1 0;
    }
    &__slider-cont{
        max-width: 585px;
        // height: 320px;
        flex: auto 1 0;
        img{
            object-fit: cover;
            height: auto;
            max-height: 320px;
        }
    }
}
.slider-list{
    &__item{
        position: relative;
        margin: 0 0 10px;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        &::before{
            content: "";
            position: absolute;
            top: 4px;
            left: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            opacity: 0.3;
            background-color: $green;
            @include trans;
        }
        &.slick-current{
            &::before{
                opacity: 1;
            }
        }
    }
}
.slider-cont{
    box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);
}