.road{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__text{
        margin: 20px 0 30px;
        font-size: 16px;
        line-height: 1.5;          
    }
    &__content{
        @media screen and (min-width: 1024px) {
            @include flex($just: space-between);
            column-gap: 50px;
        }
    }
    &__info{
        margin-bottom: 30px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 0;
        }
    }
    &__map{
        width: 100%;
        height: 370px;
        @media screen and (min-width: 1024px) {
            flex-basis: 810px;
        }
    }
}

.road-address{
    & + &{
        margin-top: 20px;
        @media screen and (min-width: 768px) {
            margin-top: 25px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 25px;
        }
    }
    &__name{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            margin-bottom: 5px;
            font-size: 24px;

        }
    }
    &__info{
        margin: 0;
        font-size: 12px;
        line-height: 1.5;          
        @media screen and (min-width: 768px) {
            font-size: 16px;

        }
    }
}

.map{
    background-color: $grey;
    iframe{
        pointer-events: none;
        width: 100%;
        height: 100%;
    }
}