.rules{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $grey;
    &--brokers{
        background-color: #fff;
    }
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
}

.rule-info{
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);
    @media screen and (min-width: 768px) {
        @include flex($just: center, $align: flex-start);
    }
    @media screen and (min-width: 1024px) {
        max-width: 940px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 65px
    }
    & + &{
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            margin-top: 40px;
        }
    }
    &__descr{
        @media screen and (min-width: 768px) {
            border-right: 1px solid #3c3c3c;
            padding: 0 30px;
        }
        @media screen and (min-width: 1024px) {
            padding: 0;
            padding-right: 40px;
        }
    }
    &__form{
        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }
        @media screen and (min-width: 768px) {
            padding-left: 20px;
            flex-shrink: 0;
            flex-basis: 40%;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: 45%;
        }
        @media screen and (min-width: 1200px) {
            flex-basis: auto;
        }

    }
    &__title{
        margin: 0 0 30px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.3;          
        @media screen and (min-width: 768px) {
            font-size: 20px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 15px;
            font-size: 24px;
        }
    }
    &__list{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &__item{
        padding-left: 25px;
        font-size: 16px;
        line-height: 2;
        background-image: url(../images/icons/rule-icon.png);
        background-position: 0 12px;
        background-size: 13px auto;
        background-repeat: no-repeat;
        & + &{
            // margin-top: 10px;
        }
    }
      
}
.rule-form{
    @media screen and (min-width: 1024px) {
        padding-left: 65px;
    }
    &__title{
        margin: 0 0 15px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;          
    }
    &__submit{
        width: 100%;
        margin: 30px auto;
    }
    &__input{
        max-width: unset;
    }
}