.send-photo{
    @include cont;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        text-transform: uppercase;
        @media screen and (min-width: 1024px) {
            font-size: 24px;
            margin-bottom: 45px;
        }
    }
    .check-photo__btns{
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
        }
    }
    .check-photo__btn{
        width: 320px;
    }
}