body{
    font-family: $main-font;
    color: $font-color;
}
.first-title{
    margin: 0;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.143;
    &--thanks{
        text-align: center;
    }
    &--marked{
        color: $green;
    }
    @media screen and (min-width: 768px){
        font-size: 32px;
        
    }
    @media screen and (min-width: 1024px){
        // max-width: 575px;
        padding-top: 15px;
        font-size: 42px;
    }      
    a{
        text-decoration: none;
        color: $green;
        line-height: 1.3;
        border-bottom: 1px solid transparent;
        @include trans;
        &:hover{
            border-bottom-color: $green;
        }
    }
}

.subtitle{
    margin: 0;
    font-size: 30px;
    color: $title-color;
    font-weight: bold;
    line-height: 1.1;      
    text-align: center;
    @media screen and (min-width: 768px){
        font-size: 36px;
    }
    @media screen and (min-width: 1024px){
        font-size: 42px;
    }
}
.thanks-text{
    display: block;
    font-size: 20px;
    @media screen and (min-width: 768px){
        font-size: 25px;
    }
    @media screen and (min-width: 1024px){
        font-size: 35px;
    }

}