:root{
    --sd: 720px;
    --md: 960px;
    --lg: 1170px;
}
$main-font: "Gilroy";
$green: #4cbb17;
$font-color: #272b48;//rgb(39, 43, 72)
$title-color: #11142d; 
$grey: #f4f4f4;
@mixin cont{
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 768px) {
        padding-left: calc((100% - var(--sd)) / 2);
        padding-right: calc((100% - var(--sd)) / 2);
    }
    @media screen and (min-width: 1024px) {
        padding-left: calc((100% - var(--md)) / 2);
        padding-right: calc((100% - var(--md)) / 2);
    }
    @media screen and (min-width: 1200px) {
        padding-left: calc((100% - var(--lg)) / 2);
        padding-right: calc((100% - var(--lg)) / 2);
    }
}
@mixin flex($dir: row, $wrap: nowrap, $just: flex-start, $align: center){
    display: flex;
    flex-flow: $dir $wrap;
    justify-content: $just;
    align-items: $align;
}
@mixin trans{
    transition: 0.3s ease;
}