.video-feed{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__title{
        margin-bottom: 20px;
        @media screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
        @media screen and (min-width: 1024px) {
            margin-bottom: 50px;
        }
    }
    &__list{
        @media screen and (min-width: 768px) {
            @include flex($wrap: wrap, $just: space-between);
            column-gap: 30px;
            row-gap: 30px;
        }
    }
    &__one{
        @media screen and (min-width: 768px) {
            flex-basis: 45%;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: calc(50% - 15px);
        }
        & + &{
            @media screen and (max-width: 768px) {
                margin-top: 20px;
            }
        }

    }
}
.one-video{
    box-shadow: 0px 5px 20px 0px rgba(64, 64, 64, 0.15);      
    &__con{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }
    }

}