.work-order{
    @include cont;
    padding-top: 60px;
    padding-bottom: 60px;
    &__steps{
        margin-top: 30px;
        @media screen and (min-width: 768px) {
            @include flex($align: flex-start,$just: space-between, $wrap: wrap);
            row-gap: 30px;
            margin-top: 50px;
        }
        @media screen and (min-width: 1024px) {
            margin-top: 70px;
            row-gap: 63px;
        }
    }
    &--brokers{
        .work-order__one-step{
            @media screen and (min-width: 1024px) {
                flex-basis: 33%;
            }
        }
    }
    &--nedv{
        .work-order__steps{
            justify-content: flex-start;
        }
        .work-order__one-step{
            @media screen and (min-width: 1024px) {
                flex-basis: 33%;
            }
        }

    }
    &__one-step{
        width: 270px;
        margin: 0 auto;
        & + &{
            margin-top: 30px;
            @media screen and (min-width: 768px) {
                margin-top: 0;
            }
        }
        @media screen and (min-width: 768px) {
            width: auto;
            flex-basis: 47%;
            margin: 0;
        }
        @media screen and (min-width: 1024px) {
            flex-basis: 350px;
        }
    }
}
.step-one{
    &__contacts{
        margin-top: 15px;
        font-size: 14px;
        color: rgba(39, 43, 72, 0.6);
        line-height: 1.7;          
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
        }
    }
    &__btn{
        margin-top: 15px;
        width: 100%;
        max-width: 225px;
        @media screen and (min-width: 1024px) {
            margin-top: 25px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__link{
        display: block;
        width: fit-content;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;  
        text-decoration: none;
        color: $font-color;
        @include trans;
        &:hover{
            color: $green;
        }
    }
    &__number{
        margin: 0;
        font-size: 48px;
        color: rgb(76, 187, 23);
        font-weight: bold;
        line-height: 0.75;          
    }
    &__pic{
        position: relative;
        z-index: -1;
        @media screen and (min-width: 1024px) {
            margin-top: -15px;
            margin-left: 30px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: -60px;
            margin-left: 10px;
        }
    }
    &__descr{
        margin: 25px 0 0;
        font-size: 16px;
        line-height: 1.5;
        text-align: left;          
        @media screen and (min-width: 1024px) {
            padding-left: 30px;
        }
        @media screen and (min-width: 1640px) {
            margin-top: 0;
        }
    }
}