@import "normalize";
@import "fonts";
@import "vars";
@import "slick";
@import "slick-theme";
@import "typography";
@import "btn";
@import "header";
@import "logo";
@import "first";
@import "buy";
@import "check-photo";
@import "callback";
@import "pluses";
@import "work-order";
@import "need-items";
@import "calculate";
@import "road";
@import "video-feed";
@import "examples";
@import "faq";
@import "footer";
@import "numbers";
@import "price-examples";
@import "partners";
@import "rules";
@import "get";
@import "moments";
@import "calc-invest";
@import "modal";
@import "doc";
@import "send-photo";
body{
    // background-color: tan;
    &.body--modal{
        overflow: hidden;
    }
}
*{
    outline-color: $green;
    box-sizing: border-box;
}
picture{
    line-height: 0;
    img{
        width: 100%;
    }
}